.s-promo {

  &__container {
    @include container;
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
    }
  }

  &__cover {
    position: relative;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      order: 2;
      max-width: 50%;

      &::before {
        padding-top: (4 / 3) * 100%;
      }
    }

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 1rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      order: 1;
      max-width: 50%;
      padding: 3rem 2.25rem 3rem 1.5rem;
    }
  }

  &__subtitle {
    @include caption;
    margin-bottom: 0.75rem;
    display: block;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    @include section-title;
    margin-bottom: 0.75rem;
    max-width: 25rem;

    span {
      color: $accent-color;
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }

  &__more-btn {

    @media only screen and (max-width: ($screen-xs - 1)) {
      width: 100%;
    }
  }

  &__deco-line {
    position: absolute;
    top: -1.5rem;
    right: 100%;
    width: 1px;
    height: 3rem;
    background-color: $primary-color;
  }
}
