.s-page-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $bg-color;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $primary-color;
  }

  &__top {
    border-bottom: 1px solid $border-color;
  }

  &__top-container {
    @include container;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    position: relative;
    padding: 0.5rem 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0.75rem 1.5rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $border-color;
    }

    &::before {
      right: 100%;
    }

    &::after {
      left: 100%;
    }
  }

  &__address {
    font-size: 0.6em;
    line-height: 1.4em;
    font-weight: 600;
    margin-right: auto;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }
  }

  &__contact-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.6em;
    line-height: 1.4em;
    font-weight: 600;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    li {
      display: inline-block;
      margin: 0;
      padding: 0;

      @media only screen and (max-width: ($screen-sm - 1)) {

        &:not(:first-child) {
          margin-left: auto;
        }
      }

      &:not(:first-child) {
        margin-left: 2.25rem;
      }

      a {
        display: block;
        color: $text-color;
        text-decoration: none;
        white-space: nowrap;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }

  &__bottom-container {
    @include container;
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    position: relative;
    padding: 0.5rem 1.5rem;

    @media only screen and (max-width: ($screen-sm - 1)) {
      align-items: center;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      width: 1px;
    }

    &::before {
      right: 100%;
      height: 100%;
      background-color: $border-color;
    }

    &::after {
      left: 100%;
      height: calc(100% + 1.5rem);
      background-color: $primary-color;
    }
  }

  &__logos {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: auto;

    li {
      display: inline-block;
      margin: 0;
      padding: 0;
      vertical-align: middle;

      &:first-child {

        a {
          transform: translateY(-0.5rem);

          @media only screen and (max-width: ($screen-md - 1)) {
            transform: translateY(-0.25rem);
          }
        }

        img {

          @media only screen and (max-width: ($screen-md - 1)) {
            width: 99px;
            height: 35px;
          }
        }
      }

      &:last-child {

        img {

          @media only screen and (max-width: ($screen-md - 1)) {
            width: 85px;
            height: 25px;
          }
        }
      }

      &:not(:last-child) {
        margin-right: 2.25rem;

        @media only screen and (max-width: ($screen-sm - 1)) {
          margin-right: 1rem;
        }
      }

      a {
        display: block;
        color: currentColor;

        img {
          display: block;
        }
      }
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 700;

    @media only screen and (max-width: ($screen-sm - 1)) {
      display: none;
    }

    @media only screen and (max-width: ($screen-md - 1)) {
      font-size: ms(-2);
    }

    li {
      display: inline-block;
      font-family: $font-family--heading;
      text-transform: uppercase;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      a {
        display: block;
        color: $text-color;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $accent-color;
        }
      }
    }
  }

  &__hamburger {
    position: relative;
    width: 20px;
    height: 40px;
    border: none;
    padding: 0;
    cursor: pointer;
    color: $text-color;
    background-color: transparent;

    @media only screen and (min-width: $screen-sm) {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    span {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: translate3d(0, -50%, 0);
      background-color: currentColor;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: inherit;
      }

      &::before {
        top: -6px;
      }

      &::after {
        bottom: -6px;
      }
    }
  }
}
