mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' s-page-header--' + modsList[i].trim();
      }
    }

  header.s-page-header(class=allMods)&attributes(attributes)
    .s-page-header__top
      .s-page-header__top-container
        address.s-page-header__address Санкт-Петербург, ул. Бумажная, д. 15
        ul.s-page-header__contact-list
          li: a(href='tel:+78127866740') +7 812 786-67-40
          li: a(href='mailto:mail@cpkbhm.com') mail@cpkbhm.com
    .s-page-header__bottom
      .s-page-header__bottom-container
        ul.s-page-header__logos
          li
            a(href='index.html')
              img(src='img/cpkbhm-logo.svg', alt='', width='186', height='65')
          li
            a(href='http://krhz.ru/', target='_blank', rel='noopener')
              img(src='img/roshim-logo.svg', alt='', width='137', height='40')
        ul.s-page-header__nav-list
          li: a(href='about.html') О нас
          li: a(href='services.html') Услуги
          li: a(href='projects.html') Проекты
          li: a(href='') Партнеры
          li: a(href='rent.html') Аренда
          li: a(href='') Новости
          li: a(href='contacts.html') Контакты
        button.s-page-header__hamburger
          span
        +mobile-menu