.s-employee {

  &__photo {
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (4 / 3) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 0.75rem 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0.75rem 1.5rem;
    }
  }

  &__name {
    font-family: $font-family--heading;
    text-transform: uppercase;
    font-weight: 700;
    font-size: ms(0);
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 0.25rem;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: calc(100% + 1.5rem);
      width: 1px;
      height: 100%;
      background-color: $primary-color;
    }
  }

  &__position {
    display: block;
    font-size: ms(-1);
    line-height: 1.4em;
    margin-bottom: 0.5rem;
  }

  &__contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.4em;

    li {
      margin: 0;
      padding: 0;

      span {
        font-weight: 400;

        &::after {
          content: ': ';
          position: relative;
        }
      }

      a {
        display: inline-block;
        color: $text-color;
        font-weight: 600;
        text-decoration: none;

        &:hover,
        &:focus {
          color: $accent-color;
          text-decoration: none;
        }
      }
    }
  }
}
