.s-gallery {
  padding-bottom: 0.1rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4.5rem;
  }

  &__container {
    @include container;
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    @include section-title;
    padding-left: 1rem;

    @media only screen and (min-width: $screen-sm) {
      padding-left: 1.5rem;
    }
  }

  &__slider-nav {

    @extend .s-news__slider-nav;
  }

  &__slider-nav-btn {

    @extend .s-news__slider-nav-btn;

    &--prev {

      @extend .s-news__slider-nav-btn--prev;
    }
  }

  &__thumb {
    display: block;
    position: relative;
    cursor: zoom-in;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-top: (3 / 4) * 100%;

      @media only screen and (min-width: $screen-sm) {
        padding-top: (1 / 2.2) * 100%;
      }
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
