.s-mobile-menu {
  position: absolute;
  z-index: 1000;
  background-color: #fff;
  top: calc(100% + 1px);
  right: 0;
  left: 0;
  padding: 1.5rem;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.975);
  transform-origin: 100% 0;
  transition: 0.25s ease-out;
  overflow-y: scroll;
  text-align: right;

  &__title {
    color: #184c78;
    font-size: 0.44444em;
    line-height: 1.5em;
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }

  &__close {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    margin: 0;
    border: 0;
    padding: 0;
    opacity: 0.5;
    cursor: pointer;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }

    svg {
      display: block;
    }
  }

  &__block {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0;
        padding: 0;
        margin-bottom: 0.125rem;

        a {
          display: inline-block;
          color: #222f3a;
          text-decoration: none;
        }
      }
    }
  }

  &--nav {
    font-size: 1em;
    line-height: 1.4em;
    font-weight: 600;
  }

  &--address {
    font-size: 0.66667em;
    line-height: 1.4em;
    font-weight: 700;
    margin-top: 0.75rem;
    margin-bottom: 0.125rem;
  }

  &--contacts {
    font-size: 0.66667em;
    line-height: 1.4em;
    font-weight: 700;
  }

  &--is-active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }
}
