.s-btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 1.25rem 2rem;
  overflow: hidden;
  transition: background-color 0.75s $transition-timing--linear;
  background-color: $accent-color;
  background-image: none;
  color: #fff;
  font-family: $font-family--heading;
  font-size: ms(-1);
  font-weight: 700;
  line-height: 1.4em;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;

  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
    background-color: darken($accent-color, 10%);

    .s-btn__icon--default {
      transform: translate3d(100%, 0, 0);
      opacity: 0;
    }

    .s-btn__icon--hover {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  &__icon-wrapper {
    display: block;
    position: relative;
    margin-left: 2rem;
  }

  &__icon {
    display: block;
    width: 6px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 6 10'%3E%3Cpath fill='%23ffffff' d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &--default {
      transition:
        transform 0.75s $transition-timing--linear,
        opacity 0.25s $transition-timing--linear;
      opacity: 1;
    }

    &--hover {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate3d(-150%, 0, 0);
      transition:
        transform 0.75s $transition-timing--linear,
        opacity 0.25s $transition-timing--linear;
      opacity: 0;
    }
  }

  &--light {
    background-color: #fff;
    color: $text-color;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;
    }

    .s-btn__icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 6 10'%3E%3Cpath fill='%23263035' d='M1e-7 8.80435L1.15789 10l3.68422-3.80435L6 5 4.84211 3.80435 1.1579-4.2e-7 7.7e-7 1.19565 3.68421 5 1e-7 8.80435z'/%3E%3C/svg%3E");
    }
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;

    @at-root a.s-btn--disabled {
      pointer-events: none;
    }
  }
}
