.s-team {

  &__container {
    @include container;
    position: relative;
  }

  &__intro {
    padding: 1rem 1rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 2.25rem 1.5rem 1.5rem;
    }
  }

  &__subtitle {

    @extend .s-promo__subtitle;
  }

  &__title {

    @extend .s-promo__title;
  }

  &__deco-line {

    @extend .s-promo__deco-line;
  }


  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2.25rem;

    @media only screen and (min-width: $screen-xs) {
      display: flex;
      flex-flow: row wrap;
      margin-left: -0.05rem;
      margin-right: -0.05rem;
    }

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 3rem;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    @media only screen and (min-width: $screen-xs) {
      flex: 0 0 50%;
      max-width: 50%;
      padding-left: 0.05rem;
      padding-right: 0.05rem;
    }

    @media only screen and (min-width: $screen-md) {
      flex: 0 0 25%;
      max-width: 25%;
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}
