.s-main-projects {

  &__container {
    @include container;
    position: relative;
  }

  &__intro {
    padding: 1rem 1rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 2.25rem 1.5rem 1.5rem;
    }
  }

  &__subtitle {

    @extend .s-promo__subtitle;
  }

  &__title {

    @extend .s-promo__title;
  }

  &__deco-line {

    @extend .s-promo__deco-line;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2.25rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      margin: -0.05rem;
      padding-bottom: 4.5rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.1rem;
    }
  }

  &__item {
    margin: 0;
    padding: 0.05rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
