.s-next-project {

  @media only screen and (min-width: $screen-sm) {
    margin-bottom: 4.5rem;
  }

  &__container {
    @include container;
  }

  &__link {
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    min-height: 15rem;
    will-change: transform;
    transition: transform 0.75s $transition-timing--linear;

    &:hover,
    &:focus {
      text-decoration: none;
      transform: scale(0.99);

      .s-next-project__cover {

        &::after {
          background-color: rgba($text-color, 0.75);
        }

        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__inner {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;

    @media only screen and (min-width: $screen-sm) {
      bottom: 1.5rem;
      left: 1.5rem;
    }
  }

  &__subtitle {
    font-size: ms(-2);
    line-height: 1.4em;
    font-weight: 700;
    display: block;
    margin-bottom: 0.75rem;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }

  &__title {
    font-family: $font-family--heading;
    font-size: ms(1);
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
  }

  &__arrow {
    display: block;
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 1rem;

    @media only screen and (min-width: $screen-sm) {
      right: 1.5rem;
      bottom: 1.5rem;
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color 0.75s $transition-timing--linear;
      background-color: rgba($text-color, 0.9);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      will-change: transform;
      transition: transform 0.75s $transition-timing--linear;
    }
  }
}
