extends ../pug/layout.pug

block meta
  - var title = 'Projects';
  title= title
  meta(name='description', content='')

block content
  section.s-contacts
    .s-contacts__container
      .s-contacts__intro
        strong.s-contacts__subtitle Контакты
        h1.s-contacts__title
          | Пишите нам или звоните по
          span  любым вопросам о сотрудничестве
        .s-contacts__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')
      .s-contacts__contacts
        .s-contacts__main
          ul.s-contacts__main-list
            li.s-contacts__main-item
              h3.s-contacts__caption Адрес
              address.s-contacts__address 190020, Санкт-Петербург, ул. Бумажная, дом 15
            li.s-contacts__main-item
              h3.s-contacts__caption Приемная ген. директора
              a.s-contacts__main-link(href='tel:+78127866740') +7 (812) 786-67-40
            li.s-contacts__main-item
              h3.s-contacts__caption E-mail
              a.s-contacts__main-link(href='mailto:mail@cpkbhm.com') mail@cpkbhm.com
        .s-contacts__additional
          .s-contacts__additional-group
            ul.s-contacts__additional-list
              li.s-contacts__additional-item
                h3.s-contacts__caption Сервисная служба
                a.s-contacts__additional-link(href='tel:+78127866740') +7 (812) 786-67-40
                a.s-contacts__additional-link(href='mailto:service@cpkbhm.com') service@cpkbhm.com
              li.s-contacts__additional-item
                h3.s-contacts__caption Проектный блок
                a.s-contacts__additional-link(href='tel:+78127865204') +7 (812) 786-52-04
                a.s-contacts__additional-link(href='mailto:project@cpkbhm.com') project@cpkbhm.com
          .s-contacts__additional-group
            ul.s-contacts__additional-list
              li.s-contacts__additional-item
                h3.s-contacts__caption Отдел по работе с недвижимостью
                a.s-contacts__additional-link(href='tel:+79557126784') +7 (955) 712-67-84
                a.s-contacts__additional-link(href='mailto:arenda@cpkbhm.com') arenda@cpkbhm.com
              li.s-contacts__additional-item
                h3.s-contacts__caption Копи-центр
                a.s-contacts__additional-link(href='tel:+78127866740') +7 (812) 786-67-40
                a.s-contacts__additional-link(href='mailto:copy@cpkbhm.com') copy@cpkbhm.com
          .s-contacts__additional-deco-line(class='s-rellax', data-rellax-speed='0.5', data-rellax-percentage='0.75')
        .s-contacts__contacts-deco-line(class='s-rellax', data-rellax-speed='-0.5', data-rellax-percentage='0.75')
      .s-contacts__company-data
        +btn('Банковские реквизиты')(href='/')
      .s-contacts__map
        img(src='img/map-example-big.jpg', alt='')