extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.s-promo
    .s-promo__container
      .s-promo__cover
        img(src='https://images.unsplash.com/photo-1521352757389-8e5cb54edd68?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
      .s-promo__info
        strong.s-promo__subtitle Опыт, проверенный временем
        h1.s-promo__title Центральное проектно-конструкторское и технологическое бюро химического машиностроения
        .s-promo__desc
          p Мы являемся ведущей в Российской Федерации организацией по проектированию объектов для производства средств защиты человека от воздействия поражающих факторов различной природы и специальных химических продуктов и материалов, используемых для их изготовления.
        +btn('Подробнее о нас')(href='/').s-promo__more-btn
      .s-promo__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  section.s-services
    .s-services__container
      h2.s-services__title Услуги
      ul.s-services__list
        li.s-services__item
          a.s-services__item-card(href='/')
            .s-services__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 52 45', width='52', height='45')
                path(d='M26 0C24.0035 0 22.3721 1.64076 22.3721 3.64865C22.3721 5.45168 23.6813 6.95155 25.3953 7.24029V15.4307L14.2471 21.0367C14.1445 21.087 14.0581 21.1654 13.9979 21.2629C13.9377 21.3604 13.9062 21.4731 13.907 21.5878V35.1753L6.68895 39.413C6.04442 38.3914 4.91426 37.7027 3.62791 37.7027C1.63143 37.7027 0 39.3435 0 41.3514C0 43.3592 1.63143 45 3.62791 45C5.62438 45 7.25581 43.3592 7.25581 41.3514C7.25581 41.0791 7.21815 40.8087 7.16134 40.5532L14.4738 36.2584L25.6788 43.0807C25.775 43.1414 25.8864 43.1736 26 43.1736C26.1136 43.1736 26.225 43.1414 26.3212 43.0807L37.5262 36.2584L44.8387 40.5532C44.7819 40.8087 44.7442 41.0791 44.7442 41.3514C44.7442 43.3592 46.3756 45 48.3721 45C50.3686 45 52 43.3592 52 41.3514C52 39.3435 50.3686 37.7027 48.3721 37.7027C47.0857 37.7027 45.9556 38.3914 45.311 39.413L38.093 35.1753V21.5878C38.0938 21.4731 38.0623 21.3604 38.0021 21.2629C37.9419 21.1654 37.8555 21.087 37.7529 21.0367L26.6047 15.4307V7.24029C28.3187 6.95155 29.6279 5.45168 29.6279 3.64865C29.6279 1.64076 27.9965 0 26 0ZM26 1.21622C27.3429 1.21622 28.4186 2.29805 28.4186 3.64865C28.4186 4.99925 27.3429 6.08108 26 6.08108C24.6571 6.08108 23.5814 4.99925 23.5814 3.64865C23.5814 2.29805 24.6571 1.21622 26 1.21622ZM26 16.4949L36.1468 21.6068L26 27.2698L15.8532 21.6068L26 16.4949ZM15.1163 22.595L25.3953 28.334V41.5034L15.1163 35.2323V22.595ZM36.8837 22.595V35.2323L26.6047 41.5034V28.334L36.8837 22.595ZM3.62791 38.9189C4.97083 38.9189 6.04651 40.0008 6.04651 41.3514C6.04651 42.7019 4.97083 43.7838 3.62791 43.7838C2.28499 43.7838 1.2093 42.7019 1.2093 41.3514C1.2093 40.0008 2.28499 38.9189 3.62791 38.9189ZM48.3721 38.9189C49.715 38.9189 50.7907 40.0008 50.7907 41.3514C50.7907 42.7019 49.715 43.7838 48.3721 43.7838C47.0292 43.7838 45.9535 42.7019 45.9535 41.3514C45.9535 40.0008 47.0292 38.9189 48.3721 38.9189Z')
            h3.s-services__item-title
              | Проектирование
              br
              | консалтинг
            span.s-services__item-tip Подробнее
        li.s-services__item
          a.s-services__item-card(href='/')
            .s-services__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 48 48', width='48', height='48')
                path(d='M6.23429 5.33353L10.5057 1.07102C10.7521.826215 10.7521.428872 10.5057.184066 10.2603-.0612739 9.8621-.0612739 9.61675.184066L5.34484 4.44604 1.07346.184066C.828111-.0612739.429891-.0612739.18401.184066-.0613366.428872-.0613366.826215.18401 1.07102L4.45592 5.33353.18401 9.59551C-.0613366 9.84031-.0613366 10.2377.18401 10.483.30695 10.6051.467842 10.6665.628734 10.6665.789625 10.6665.950517 10.6051 1.07346 10.483L5.34484 6.22049 9.61675 10.483C9.73969 10.6051 9.90058 10.6665 10.0615 10.6665 10.2224 10.6665 10.3838 10.6051 10.5057 10.483 10.7521 10.2377 10.7521 9.84031 10.5057 9.59551L6.23429 5.33353zM43.5446 18.6671L47.816 14.4046C48.0613 14.1598 48.0613 13.763 47.816 13.5181 47.5701 13.2723 47.1719 13.2723 46.9265 13.5181L42.6552 17.7796 38.3838 13.5181C38.1379 13.2723 37.7397 13.2723 37.4943 13.5181 37.2485 13.763 37.2485 14.1598 37.4943 14.4046L41.7657 18.6671 37.4943 22.929C37.2485 23.1749 37.2485 23.5717 37.4943 23.8165 37.6173 23.9392 37.7782 24 37.9391 24 38.1 24 38.2609 23.9397 38.3838 23.8165L42.6552 19.5546 46.9265 23.8165C47.0495 23.9392 47.2104 24 47.3713 24 47.5322 24 47.6931 23.9397 47.816 23.8165 48.0613 23.5717 48.0613 23.1749 47.816 22.929L43.5446 18.6671zM27.8072 24L32.0785 19.738C32.3239 19.4932 32.3239 19.0964 32.0785 18.8516 31.8327 18.6057 31.4344 18.6057 31.1891 18.8516L26.9177 23.113 22.6463 18.8516C22.4005 18.6057 22.0022 18.6057 21.7569 18.8516 21.511 19.0964 21.511 19.4932 21.7569 19.738L26.0283 24 21.7569 28.262C21.511 28.5078 21.511 28.9046 21.7569 29.1494 21.8793 29.2721 22.0407 29.3329 22.2016 29.3329 22.3625 29.3329 22.5234 29.2726 22.6463 29.1494L26.9177 24.8875 31.1891 29.1494C31.312 29.2721 31.4729 29.3329 31.6338 29.3329 31.7947 29.3329 31.9556 29.2726 32.0785 29.1494 32.3239 28.9046 32.3239 28.5078 32.0785 28.262L27.8072 24zM11.9767 48C8.73486 48 6.09698 45.3679 6.09698 42.1332 6.09698 38.8984 8.73486 36.2664 11.9767 36.2664 15.2186 36.2664 17.8565 38.8984 17.8565 42.1332 17.8565 45.3679 15.2186 48 11.9767 48zM11.9767 37.3331C9.32391 37.3331 7.16603 39.4862 7.16603 42.1332 7.16603 44.7802 9.32391 46.9333 11.9767 46.9333 14.6296 46.9333 16.7875 44.7802 16.7875 42.1332 16.7875 39.4862 14.6296 37.3331 11.9767 37.3331zM24.5589 5.69932C24.4573 5.59798 24.321 5.54358 24.1809 5.54358 24.135 5.54358 24.0885 5.54945 24.0425 5.56171L18.8256 6.95588C18.6411 7.00495 18.4968 7.14895 18.4476 7.33296 18.3979 7.51696 18.4509 7.71323 18.5861 7.84817L20.1945 9.45408C14.8776 15.7566 11.5405 24.7675 11.5405 34.7614 11.5405 35.0563 11.78 35.2947 12.0751 35.2947 12.3701 35.2947 12.6096 35.0563 12.6096 34.7614 12.6096 25.0598 15.8253 16.3135 20.9465 10.2045L22.4047 11.66C22.5063 11.7613 22.6426 11.8163 22.7826 11.8163 22.8286 11.8163 22.8751 11.8104 22.9211 11.7981 23.1055 11.7491 23.2498 11.6051 23.299 11.4211L24.6022 6.56921 24.6973 6.21506C24.7465 6.03052 24.6936 5.83372 24.5589 5.69932z')

            h3.s-services__item-title
              | Сопровождение
              br
              | проектов
            span.s-services__item-tip Подробнее
        li.s-services__item
          a.s-services__item-card(href='/')
            .s-services__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 40 46', width='40', height='46')
                path(d='M27.8436 9.40776C27.904 9.46885 27.8436 9.46885 27.8436 9.40776Z')
                path(d='M39.8627 19.7928L34.4873 14.417V9.04117C34.4873 8.73572 34.1853 8.43028 33.8833 8.43028H28.5683L20.4146 0.183267C20.173 -0.061089 19.8106 -0.061089 19.569 0.183267L0.181195 19.7928C0.0603988 19.915 0 20.0372 0 20.2205V45.3891C0 45.6946 0.30199 46 0.603981 46H39.3796C39.6815 46 39.9835 45.6946 39.9835 45.3891V20.2205C40.0439 20.0372 39.9231 19.915 39.8627 19.7928ZM33.2793 9.65206V13.1952L29.7763 9.65206H33.2793ZM38.836 44.8393H1.20796V20.4648L19.9918 1.46614L27.8436 9.40776L33.4606 15.0279L38.7756 20.4037V44.8393H38.836Z')
                path(d='M11.7172 28.0399H6.16062C5.79823 28.0399 5.55664 28.3453 5.55664 28.6508V37.0811C5.55664 37.3865 5.79823 37.6919 6.16062 37.6919H11.7172C12.0192 37.6919 12.3212 37.3865 12.3212 37.0811V28.6508C12.3212 28.2842 12.0192 28.0399 11.7172 28.0399ZM11.1133 36.4091H6.7646V29.2617H11.1133V36.4091Z')

            h3.s-services__item-title
              | Обследование зданий
              br
              | и сооружений
            span.s-services__item-tip Подробнее
        li.s-services__item
          a.s-services__item-card(href='/')
            .s-services__item-icon
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 37 54', width='37', height='54')
                path(d='M23.6829 44.2688C23.367 44.2688 23.1114 44.0119 23.1114 43.6944C23.1114 39.313 25.1318 35.2581 28.5175 32.8469C33.1132 29.5752 35.8569 24.2457 35.8569 18.5909C35.8569 13.7663 33.9381 9.27723 30.4553 5.94827C26.9737 2.62268 22.4093 0.920618 17.6004 1.17307C8.54854 1.63645 1.3207 9.13586 1.14657 18.2464C1.04275 23.6096 3.34673 28.6417 7.46576 32.0537C10.5031 34.5681 12.624 39.3545 12.624 43.6944C12.624 44.0119 12.3684 44.2688 12.0525 44.2688C11.7366 44.2688 11.481 44.0119 11.481 43.6944C11.481 39.6743 9.53086 35.2514 6.73907 32.9401C2.34879 29.3037 -0.105888 23.9406 0.00350656 18.224C0.188807 8.51315 7.89329 0.518944 17.5423 0.026389C22.6649 -0.244012 27.5318 1.57137 31.2423 5.11575C34.955 8.6635 37 13.4488 37 18.5909C37 24.6171 34.0765 30.2967 29.1783 33.7849C26.0952 35.9796 24.2544 39.6844 24.2544 43.6944C24.2544 44.0119 23.9988 44.2688 23.6829 44.2688Z')
                path(d='M6.32602 18.9207C6.32267 18.9207 6.31932 18.9207 6.31485 18.9207 5.99895 18.9151 5.7489 18.6525 5.75449 18.335 5.87951 11.7579 11.299 6.13334 17.8348 5.79899 18.1987 5.75411 18.4186 6.02675 18.4342 6.34315 18.4509 6.65956 18.2076 6.92996 17.8928 6.94566 11.9442 7.25085 7.01141 12.3694 6.89755 18.3575 6.89197 18.6705 6.63634 18.9207 6.32602 18.9207zM23.6829 44.2689H12.0525C11.7366 44.2689 11.481 44.012 11.481 43.6945 11.481 43.3769 11.7366 43.12 12.0525 43.12H23.6829C23.9988 43.12 24.2544 43.3769 24.2544 43.6945 24.2544 44.012 23.9988 44.2689 23.6829 44.2689zM23.6829 49.1338H12.0525C11.7366 49.1338 11.481 48.8769 11.481 48.5593 11.481 48.2418 11.7366 47.9849 12.0525 47.9849H23.6829C23.9988 47.9849 24.2544 48.2418 24.2544 48.5593 24.2544 48.8769 23.9988 49.1338 23.6829 49.1338zM20.0362 54H15.6995C15.3836 54 15.1279 53.7431 15.1279 53.4255 15.1279 53.108 15.3836 52.8511 15.6995 52.8511H20.0362C20.3521 52.8511 20.6077 53.108 20.6077 53.4255 20.6077 53.7431 20.3521 54 20.0362 54z')

            h3.s-services__item-title
              | Дополнительные
              br
              | услуги
            span.s-services__item-tip Подробнее

  section.s-news
    .s-news__container
      .s-news__header
        h2.s-news__title Новости
        a(href='/').s-news__more-link Все новости
        .s-news__slider-nav
          .s-news__slider-nav-btn.s-news__slider-nav-btn--prev
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
              path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
          .s-news__slider-nav-btn.s-news__slider-nav-btn--next
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
              path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
      .s-news__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              article.s-post
                a.s-post__cover(href='/')
                  img(src='https://images.unsplash.com/photo-1518515118571-b8320c15313e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2090&q=80', alt='')
                .s-post__info
                  time.s-post__datetime(datetime='2020-07-03') Октябрь, 8
                  h3.s-post__title: a(href='/') Сервис коротких видео Quibi закрылся спустя полгода после релиза
            .swiper-slide
              article.s-post
                a.s-post__cover(href='/')
                  img(src='https://images.unsplash.com/photo-1469510038946-6bf892bbe9d6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80', alt='')
                .s-post__info
                  time.s-post__datetime(datetime='2020-07-03') Октябрь, 6
                  h3.s-post__title: a(href='/') Инновациям предстоит стать делом государственной безопасности
            .swiper-slide
              article.s-post
                a.s-post__cover(href='/')
                  img(src='https://images.unsplash.com/photo-1511271004193-d47c3a7b22fd?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='')
                .s-post__info
                  time.s-post__datetime(datetime='2020-07-03') Октябрь, 1
                  h3.s-post__title: a(href='/') Сервис коротких видео Quibi закрылся спустя полгода после релиза
            .swiper-slide
              article.s-post
                a.s-post__cover(href='/')
                  img(src='https://images.unsplash.com/photo-1517732872185-032beceafbc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1647&q=80', alt='')
                .s-post__info
                  time.s-post__datetime(datetime='2020-07-03') Сентябрь, 29
                  h3.s-post__title: a(href='/') Инновациям предстоит стать делом государственной безопасности
      .s-news__deco-line(class='s-rellax', data-rellax-speed='-1', data-rellax-percentage='0.5')

  section.s-clients
    .s-clients__container
      h2.s-clients__title Партнеры и клиенты
      ul.s-clients__list
        li.s-clients__item
          figure.s-clients__card
            .s-clients__icon
              img(src='img/rzd.svg', alt='', width='90', height='40')
            figcaption.s-clients__caption
              h3.s-clients__name Российские железные дороги
              a.s-clients__link(href='/', target='_blank', rel='noopener') www.rzd.ru
        li.s-clients__item
          figure.s-clients__card
            .s-clients__icon
              img(src='img/audi.svg', alt='', width='86', height='30')
            figcaption.s-clients__caption
              h3.s-clients__name Ауди центр Петербург
              a.s-clients__link(href='/', target='_blank', rel='noopener') www.audi-peterburg.ru
        li.s-clients__item
          figure.s-clients__card
            .s-clients__icon
              img(src='img/oak.svg', alt='', width='113', height='30')
            figcaption.s-clients__caption
              h3.s-clients__name Объединённая авиастроительная корпорация
              a.s-clients__link(href='/', target='_blank', rel='noopener') www.uacrussia.ru
        li.s-clients__item
          figure.s-clients__card
            .s-clients__icon
              img(src='img/rostelecom.svg', alt='', width='115', height='30')
            figcaption.s-clients__caption
              h3.s-clients__name Ростелеком
              a.s-clients__link(href='/', target='_blank', rel='noopener') www.rt.ru
      .s-clients__deco-line.s-clients__deco-line--horizontal(class='s-rellax', data-rellax-speed='-0.25', data-rellax-percentage='0.5')
      .s-clients__deco-line.s-clients__deco-line--vertical(class='s-rellax', data-rellax-speed='2', data-rellax-percentage='0.25')
