extends ../pug/layout.pug

block meta
  - var title = 'Project';
  title= title
  meta(name='description', content='')

block prepend head
  link(href='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/css/lightgallery.min.css', rel='stylesheet')

block content
  section.s-about-project
    .s-about-project__container
      .s-about-project__cover
        img(src='https://images.unsplash.com/photo-1597007030040-e0991c68cd73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='')
      .s-about-project__info
        strong.s-about-project__subtitle Проекты
        h1.s-about-project__title
          | Разработка проектной и рабочей документации на реконструкцию с расширением
          span  Центра по продаже и обслуживанию автомобилей AUDI
        .s-about-project__desc
          span.s-about-project__location Санкт-Петербург, пр. Стачек, д.106
          p Мы являемся ведущей в Российской Федерации организацией по проектированию объектов для производства средств защиты человека от воздействия поражающих факторов различной природы и специальных химических продуктов и материалов, используемых для их изготовления.
      .s-about-project__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')

  .s-facts-about-project
    .s-facts-about-project__container
      .s-facts-about-project__block.s-facts-about-project__block--data
        ul.s-facts-about-project__data-list
          li.s-facts-about-project__data-item
            h3.s-facts-about-project__subtitle Заказчик
            span.s-facts-about-project__data-desc ООО «АЦ Петербург»
          li.s-facts-about-project__data-item
            h3.s-facts-about-project__subtitle Общая площадь, м2
            span.s-facts-about-project__data-desc ≈ 13 5000
          li.s-facts-about-project__data-item
            h3.s-facts-about-project__subtitle Численность работающих
            span.s-facts-about-project__data-desc 190 чел.
      .s-facts-about-project__block.s-facts-about-project__block--works
        h3.s-facts-about-project__works-title Проектируемые объекты
        ul.s-facts-about-project__works-list
          li.s-facts-about-project__works-item демонстрационные залы;
          li.s-facts-about-project__works-item офисные помещения;
          li.s-facts-about-project__works-item ремонтная зона с кузовными  боксами, участками окраски, сварки и мойки автомашин;
          li.s-facts-about-project__works-item ресторан на 30 посадочных мест;
          li.s-facts-about-project__works-item столовая;
          li.s-facts-about-project__works-item паркинг;
          li.s-facts-about-project__works-item склад комплектующих;
          li.s-facts-about-project__works-item бытовые помещения;
          li.s-facts-about-project__works-item технические помещения.
      .s-facts-about-project__block.s-facts-about-project__block--other
        ul.s-facts-about-project__other-info-list
          li.s-facts-about-project__other-info-item
            h3.s-facts-about-project__subtitle Режим работы производственных участков
            span.s-facts-about-project__other-info-desc 1 смена, 12 часов
      .s-facts-about-project__deco-line(class='s-rellax', data-rellax-speed='-1', data-rellax-percentage='0.5')

  .s-gallery
    .s-gallery__container
      .s-gallery__header
        h2.s-gallery__title Галерея
        .s-gallery__slider-nav
          .s-gallery__slider-nav-btn.s-gallery__slider-nav-btn--prev
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
              path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
          .s-gallery__slider-nav-btn.s-gallery__slider-nav-btn--next
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 45 8', width='45', height='8')
              path(fill-rule='evenodd', d='M41.7081.457202l3.1471 3.024708c.1931.18562.1931.48655 0 .67216l-3.1471 3.02471c-.1931.18562-.5062.18562-.6993 0-.1931-.18561-.1931-.48654 0-.67215l2.3029-2.21335H0v-.95057h43.3117l-2.3029-2.21335c-.1931-.185611-.1931-.486547 0-.672158.1931-.185612.5062-.185612.6993 0z', clip-rule='evenodd')
      .s-gallery__slider
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              a.s-gallery__thumb(href='https://images.unsplash.com/photo-1597007217797-d10026d40ec7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80')
                img(src='https://images.unsplash.com/photo-1597007217797-d10026d40ec7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='')
            .swiper-slide
              a.s-gallery__thumb(href='https://images.unsplash.com/photo-1597007030680-cad20bd72a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')
                img(src='https://images.unsplash.com/photo-1597007030680-cad20bd72a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='')
            .swiper-slide
              a.s-gallery__thumb(href='https://images.unsplash.com/photo-1597007030040-e0991c68cd73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')
                img(src='https://images.unsplash.com/photo-1597007030040-e0991c68cd73?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='')

  .s-next-project
    .s-next-project__container
      a.s-next-project__link(href='/')
        .s-next-project__inner
          span.s-next-project__subtitle Другой проект
          h3.s-next-project__title Север Ликвид Газ
        span.s-next-project__arrow
          svg(xmlns='http://www.w3.org/2000/svg', fill='#fff', viewbox='0 0 16 10', width='16', height='10')
            path(fill-rule='evenodd', d='M10.9887 0L16 5L10.9887 10L9.93202 8.94574L13.1395 5.74548H0V4.25452H13.1395L9.93202 1.05427L10.9887 0Z', clip-rule='evenodd')
        .s-next-project__cover
          img(src='https://images.unsplash.com/photo-1604397653091-f08b42e22bb9?ixlib=rb-1.2.1&auto=format&fit=crop&w=2767&q=80', alt="alt")

block page-bottom
  script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/jquery-migrate@3/dist/jquery-migrate.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/dist/js/lightgallery.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-thumbnail.min.js')
  script(src='https://cdn.jsdelivr.net/npm/lightgallery@1/modules/lg-fullscreen.min.js')
  script(src='https://cdn.jsdelivr.net/npm/swiper@5/js/swiper.min.js')
  script(src='https://cdn.jsdelivr.net/npm/rellax@1.12.1/rellax.min.js')
  script(src='js/script.js')

  script.
    $('.s-gallery__slider').lightGallery({
      selector: 'a',
      mode: 'lg-fade',
      cssEasing: 'cubic-bezier(0.25, 0, 0.25, 1)',
      thumbnail: true,
      animateThumb: false,
      showThumbByDefault: false
    });
