extends ../pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block content
  section.s-we-do
    .s-we-do__container
      .s-we-do__cover
        img(src='https://images.unsplash.com/photo-1511271004193-d47c3a7b22fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80', alt='')
      .s-we-do__info
        strong.s-we-do__subtitle Услуги
        h1.s-we-do__title
          | Проектирование консалтинг
        .s-we-do__desc
          span.s-we-do__desc-title Включает:
          ul
            li Разработка концепций и эскизных проектов.
            li Разработка архитектурно-градостроительного облика.
            li Зонирование и планирование территорий.
            li Проектирование строительства новых, модернизации и технического перевооружения имеющихся химически опасных, пожароопасных и взрывоопасных производств, поднадзорных Ростехнадзору Российской Федерации.
            li Разработка проектов (расширения, технического перевооружения и консервации) промышленных предприятий.
            li Разработка концепций применения технологических решений при утилизации и переработки бытовых и промышленных отходов.
            li Проектирование промышленных объектов:
              ul
                li производств нового поколения фильтрующих и изолирующих средств индивидуальной защиты кожи и систем жизнеобеспечения;
                li предприятий эластичных адсорбентов;
                li гальвано-химических производств;
                li предприятий медицинской промышленности;
                li предприятий строительной индустрии;
                li предприятий нефтехимической отрасли;
                li производств товаров бытовой химии;
                li металлообрабатывающих и механосборочных производств;
                li предприятий полиграфической промышленности;
                li производств лакокрасочных материалов;
                li предприятий парфюмерной и косметологической продукции;
                li химико-аналитических лабораторий и «чистых комнат».
            li Проектирование станций по производству, приему, хранению и распределению технических газов на промышленных предприятиях.
            li Проектирование систем водоподготовки и очистки сточных вод.
            li Проектирование жилых зданий, спортивных, общественных и производственно-складских комплексов.
            li Разработка ПСД (на проведение капитального ремонта, реконструкции и модернизации) жилых и общественных зданий и производственных сооружений.
            li Расчет несущих конструкций зданий и сооружений.
            li Расчет пожарных рисков.
            li Проектирование и оборудование технических помещений и центров обработки данных (ЦОД).
            li Проектирование и создание современных систем визуальных коммуникаций:
              ul
                li озвучивания конференц-залов, помещений, территорий;
                li группового отображения информации и проекции;
                li дискуссионных систем и видеоконференцсвязи.
            li Разработка и обоснование стоимостных показателей при проектировании.
            li Формирование и ведение информационной модели объекта капитального строительства.
        h3.s-we-do__accent-text
          | Все разработки могут проводиться с использованием
          span  BIM технологий
        +btn('Обратный звонок')(href='/')
      .s-we-do__deco-line(class='s-rellax', data-rellax-speed='-3', data-rellax-percentage='0.5')