.s-facts-about-project {
  padding: 2.25rem 0;

  @media only screen and (min-width: $screen-sm) {
    padding: 4.5rem 0;
  }

  &__container {
    @include container;
    padding-top: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding-top: 0;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 100%;
      width: calc(100% + 0.75rem);
      height: 1px;
      background-color: $primary-color;
    }
  }

  &__block {
    padding: 0 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 2.25rem 0 1.5rem;
      margin-bottom: 0;
    }

    &--data,
    &--other {

      @media only screen and (min-width: $screen-sm) {
        flex: 0 0 25%;
        max-width: 25%;
      }
    }

    &--works {

      @media only screen and (min-width: $screen-sm) {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  &__subtitle {
    @include caption;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }

  &__data-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__data-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__data-desc {
    font-size: ms(-1);
    line-height: 1.4em;
    display: block;
    font-weight: 600;
  }

  &__works-title {
    font-family: $font-family--heading;
    font-weight: 700;
    font-size: ms(0);
    line-height: 1.3em;
    text-transform: uppercase;
    color: $primary-color;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__works-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__works-item {
    position: relative;
    margin: 0;
    padding: 0 0 0 1rem;
    font-size: ms(-1);
    font-weight: 600;
    line-height: 1.4em;

    &::before {
      content: '';
      position: absolute;
      top: 0.25rem;
      left: 0;
      width: 0.5rem;
      height: 0.5rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23184C78' d='M8.94166 0.248115L3.02352 6.8507L1.431 4.7851C0.728818 4.12369 -0.374892 4.894 0.12653 5.88553L2.01971 9.49173C2.32037 9.93191 3.02353 10.3721 3.72474 9.49173C4.0254 9.05156 9.74374 1.2385 9.74374 1.2385C10.4469 0.358158 9.54395 -0.412143 8.94166 0.248115Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__other-info-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__other-info-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }

  &__other-info-desc {
    display: block;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
  }

  &__deco-line {
    position: absolute;
    top: -2.25rem;
    right: 100%;
    width: 1px;
    height: 3rem;
    background-color: $primary-color;
  }
}
