.s-page-footer {
  position: relative;
  z-index: 900;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $primary-color;
  }

  &__container {
    @include container;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      right: 100%;
      bottom: 0;
      width: 1px;
      height: calc(100% + 1.5rem);
      background-color: $primary-color;
    }
  }

  &__main {
    padding: 2.25rem 1rem 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding: 3rem 0 3.75rem;
    }
  }

  &__block {
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 1.5rem;
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.4em;

      li {
        margin: 0;
        padding: 0;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        a {
          display: inline-block;
          color: $text-color;
          text-decoration: none;

          &:hover,
          &:focus {
            color: $accent-color;
            text-decoration: none;
          }
        }
      }
    }

    address {
      font-size: ms(-1);
      line-height: 1.4em;
      margin-top: 0.5rem;
      font-weight: 600;
    }

    &--logos {

      ul {

        li {

          @media only screen and (max-width: ($screen-sm - 1)) {
            display: inline-block;
            margin-right: 0.75rem;
          }

          &:last-child a {
            transform: translateX(5px);
          }
        }
      }
    }

    &--services {

      a {
        font-weight: 600;
      }
    }

    &--contacts {

      a {
        font-weight: 600;
      }

      .s-page-footer__subtitle {

        @media only screen and (min-width: $screen-sm) {
          position: relative;

          &::before {
            content: '';
            position: absolute;
            top: 0;
            left: -1.5rem;
            width: 1px;
            height: 1.5rem;
            background-color: $primary-color;
          }
        }
      }
    }
  }

  &__subtitle {
    font-size: 0.6em;
    line-height: 1.4em;
    text-transform: uppercase;
    color: $primary-color;
    letter-spacing: 0.05em;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__additional {
    padding: 0 1rem 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
      padding-bottom: 2.25rem;
    }
  }

  &__copyright {
    display: block;
    font-size: ms(-2);
    line-height: 1.4em;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.5rem;
    }
  }

  &__privacy,
  &__sitemap {
    display: block;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 1.5rem;
    }

    a {
      display: inline-block;
      color: $text-color;
      text-decoration: none;
      font-size: ms(-2);
      line-height: 1.4em;

      &:hover,
      &:focus {
        color: $accent-color;
        text-decoration: none;
      }
    }
  }
}
