.s-providers {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }

  &__container {
    @include container;
    position: relative;
    padding-top: 2.25rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding-top: 3rem;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: -0.75rem;
      width: 1.5rem;
      height: 1px;
      background-color: $primary-color;
    }
  }

  &__main-info {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.5rem;
    }
  }

  &__title {
    font-family: $font-family--heading;
    font-size: ms(0);
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }

    span {
      color: $accent-color;
    }
  }

  &__additional-info {

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      flex: 0 0 50%;
      position: relative;
      max-width: 50%;
      min-height: 3rem;
      margin: 0;
      padding: 0 1rem;
      margin-bottom: 1.5rem;

      @media only screen and (min-width: $screen-sm) {
        padding: 0 1.5rem;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: calc(100%);
          width: 1px;
          height: 1.5rem;
          background-color: $primary-color;
        }
      }
    }
  }

  &__deco-line {
    background-color: $primary-color;
    position: absolute;

    &--horizontal {
      right: calc(100% - 0.75rem);
      bottom: 100%;
      width: 1.5rem;
      height: 1px;
    }

    &--vertical {
      top: -2.25rem;
      right: 100%;
      width: 1px;
      height: 3rem;
    }
  }
}
