.s-what-we-do {

  &__container {
    @include container;
    position: relative;
  }

  &__intro {
    padding: 1rem 1rem 0;

    @media only screen and (min-width: $screen-sm) {
      padding: 3rem 2.25rem 1.5rem 1.5rem;
    }
  }

  &__subtitle {

    @extend .s-promo__subtitle;
  }

  &__title {

    @extend .s-promo__title;
  }

  &__deco-line {

    @extend .s-promo__deco-line;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media only screen and (min-width: $screen-sm) {
      padding-bottom: 4.5rem;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.1rem;

      @media only screen and (min-width: $screen-sm) {
        margin-bottom: 0.75rem;
      }
    }
  }
}
