.s-other-projects {
  padding-bottom: 2.25rem;

  @media only screen and (min-width: $screen-sm) {
    padding-bottom: 4.5rem;
  }

  &__container {
    @include container;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
    }
  }

  &__intro {
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 1.5rem;
    }
  }

  &__title {
    @include section-title;
  }

  &__info {
    padding: 0.5rem 1rem 0;

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0.5rem 1.5rem 0;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: $font-family--heading;
    text-transform: uppercase;
    font-size: ms(0);
    line-height: 1.2em;
  }

  &__item {
    margin: 0;
    padding: 0;

    &::after {
      content: attr(data-year);
      display: inline-block;
      position: relative;
      font-size: ms(-2);
      line-height: 1.4em;
      vertical-align: top;
      margin-left: 0.25rem;
    }

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }
  }
}
