.s-clients {
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;

  @media only screen and (min-width: $screen-sm) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__container {
    @include container;
    position: relative;
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;

    @media only screen and (min-width: $screen-sm) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__title {
    @include section-title;
    padding: 0 1rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $screen-sm) {
      padding: 0 1.5rem;
      margin-bottom: 3rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0 1rem;

    @media only screen and (min-width: $screen-sm) {
      display: flex;
      flex-flow: row wrap;
      padding: 0;
    }
  }

  &__item {
    list-style: none;
    margin: 0;
    padding: 0;

    @media only screen and (max-width: ($screen-sm - 1)) {

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }

    @media only screen and (min-width: $screen-sm) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }

  &__card {

    @media only screen and (min-width: $screen-sm) {
      padding: 0 1.5rem;
    }
  }

  &__icon {
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $screen-sm) {
      min-height: 3rem;
    }
  }

  &__name {
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-family: $font-family;
  }

  &__link {
    display: inline-block;
    color: $accent-color;
    position: relative;
    text-decoration: none;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 600;
    white-space: nowrap;

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -0.125rem;
      left: 0;
      width: 100%;
      height: 1px;
      transform: scaleX(1);
      transition: transform 0.25s $transition-timing--linear;
      background-color: currentColor;
      transform-origin: left center;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $accent-color;

      &::after {
        transform: scaleX(0);
        transform-origin: right center;
      }
    }
  }

  &__deco-line {
    background-color: $primary-color;
    position: absolute;

    &--horizontal {
      top: 0.75rem;
      right: calc(100% - 0.75rem);
      width: 1.5rem;
      height: 1px;
    }

    &--vertical {
      top: -0.75rem;
      left: 100%;
      width: 1px;
      height: 1.5rem;
    }
  }
}
